.device {
  margin: 50px auto 50px auto;
  padding: 20px 20px 40px 20px;
  width: 450px;
  height: 100%;
  border-radius: 10px;
  border-bottom: 5px solid darken(#34495e, 10%);
  background: #34495e;

  & .chat {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #3f9684;
    border-radius: 5px;
  }
}

.pullRight {
  float: right;
}
.bgNone i {
  border: 1px solid #ff6701;
  border-radius: 25px;
  color: #ff6701;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bgNone:hover i {
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bgNone {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.popupMessagesFooter > textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}
.popupMessagesFooter {
  background: #3f9684 none repeat scroll 0 0;
  bottom: 0;
  width: 100%;
}
.popupMessagesFooter .btnFooter {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}
